version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_DB: barbersaas_db
      POSTGRES_USER: barbersaas_user
      POSTGRES_PASSWORD: barbersaas_password
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: